NEXT_PUBLIC_SUPABASE_URL= https://mznsxgvnvokdrubsvrzs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16bnN4Z3Zudm9rZHJ1YnN2cnpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3Nzk2MDAsImV4cCI6MjA4OTM1NTYwMH0.Vv2PYMsw3aRmApFhSqzcKiKmj4qskfRphu-jLSeoHew
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16bnN4Z3Zudm9rZHJ1YnN2cnpzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzc3OTYwMCwiZXhwIjoyMDg5MzU1NjAwfQ.-whYNnZa_tVG0aEhJui5y9lRVCltrIDj0U6VdY4QxFM
NEXT_PUBLIC_SITE_URL= http://localhost:3000
RESEND_API_KEY=re_your_resend_key_here
